# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

v4l2/build/*

yolov5/build/*
yolov5/output/*

framebuffer/st7735test
rkmpi/build/cmake_install.cmake
rkmpi/build/CMakeCache.txt
rkmpi/build/Makefile
rkmpi/build/rkmpi-test
rkmpi/build/CMakeFiles/cmake.check_cache
rkmpi/build/CMakeFiles/CMakeDirectoryInformation.cmake
rkmpi/build/CMakeFiles/CMakeOutput.log
rkmpi/build/CMakeFiles/Makefile.cmake
rkmpi/build/CMakeFiles/Makefile2
rkmpi/build/CMakeFiles/progress.marks
rkmpi/build/CMakeFiles/TargetDirectories.txt
rkmpi/build/CMakeFiles/3.19.3/CMakeCCompiler.cmake
rkmpi/build/CMakeFiles/3.19.3/CMakeCXXCompiler.cmake
rkmpi/build/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_C.bin
rkmpi/build/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_CXX.bin
rkmpi/build/CMakeFiles/3.19.3/CMakeSystem.cmake
rkmpi/build/CMakeFiles/3.19.3/CompilerIdC/CMakeCCompilerId.c
rkmpi/build/CMakeFiles/3.19.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
rkmpi/build/CMakeFiles/rkmpi-test.dir/build.make
rkmpi/build/CMakeFiles/rkmpi-test.dir/cmake_clean.cmake
rkmpi/build/CMakeFiles/rkmpi-test.dir/CXX.includecache
rkmpi/build/CMakeFiles/rkmpi-test.dir/depend.internal
rkmpi/build/CMakeFiles/rkmpi-test.dir/depend.make
rkmpi/build/CMakeFiles/rkmpi-test.dir/DependInfo.cmake
rkmpi/build/CMakeFiles/rkmpi-test.dir/flags.make
rkmpi/build/CMakeFiles/rkmpi-test.dir/link.txt
rkmpi/build/CMakeFiles/rkmpi-test.dir/progress.make
rkrtsp/build/cmake_install.cmake
rkrtsp/build/CMakeCache.txt
rkrtsp/build/Makefile
rkrtsp/build/rkrtsp-test
rkrtsp/build/CMakeFiles/cmake.check_cache
rkrtsp/build/CMakeFiles/CMakeDirectoryInformation.cmake
rkrtsp/build/CMakeFiles/CMakeOutput.log
rkrtsp/build/CMakeFiles/Makefile.cmake
rkrtsp/build/CMakeFiles/Makefile2
rkrtsp/build/CMakeFiles/progress.marks
rkrtsp/build/CMakeFiles/TargetDirectories.txt
rkrtsp/build/CMakeFiles/3.19.3/CMakeCCompiler.cmake
rkrtsp/build/CMakeFiles/3.19.3/CMakeCXXCompiler.cmake
rkrtsp/build/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_C.bin
rkrtsp/build/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_CXX.bin
rkrtsp/build/CMakeFiles/3.19.3/CMakeSystem.cmake
rkrtsp/build/CMakeFiles/3.19.3/CompilerIdC/CMakeCCompilerId.c
rkrtsp/build/CMakeFiles/3.19.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/build.make
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/cmake_clean.cmake
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/CXX.includecache
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/depend.internal
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/depend.make
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/DependInfo.cmake
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/flags.make
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/link.txt
rkrtsp/build/CMakeFiles/rkrtsp-test.dir/progress.make

MNIST/build/*
MNIST/rtsp_mnist_test/*
